<!-- <ion-header>
  <ion-toolbar [translate]="true">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Map</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-toolbar class="tool" slot="fixed">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button color="secondary">
      Add Web Map
    </ion-button>
  </ion-toolbar>

  <div id="container">
    <capacitor-google-maps id="map" #map></capacitor-google-maps>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      color="secondary"
      *ngIf="!nativeDevice"
      (click)="handleAddWebMap()"
    >
      Add Web Map
    </ion-button>
    <ion-button
      expand="full"
      color="secondary"
      *ngIf="nativeDevice"
      (click)="handleAddDeviceMap()"
    >
      Add Device Map
    </ion-button>
  </ion-toolbar>
</ion-footer>
